<footer>
<div class="row">
  <div class="col-sm-1" style="border: solid 1px black; width:50px"><img src="/img/logo/logo_USC.svg" /></div> 
  <div class="col-sm-1" style="border: solid 1px black; width:50px"><img src="/img/logo/logo_antisiedu.png"/></div> 
  <div class="col-sm-1" style="border: solid 1px black; width:50px"><img src="/img/logo/logo_DHS.svg"  /></div> 
  <div class="col-sm-2" style="border: solid 1px black; width:50px"><img src="/img/logo/logo_CONCORDIA.svg"  /></div>
  <div class="col-sm-1" style="border: solid 1px black; width:50px"><img src="/img/logo/logo_NWO.svg"   /></div> 
  <div class="col-sm-2" style="border: solid 1px black; width:50px"><img src="/img/logo/logo_NLNETLABS.svg"   /></div> 
  <div class="col-sm-1" style="border: solid 1px black; width:50px"><img src="/img/logo/logo_SIDNLABS.svg"   /></div> 
  <div class="col-sm-1" style="border: solid 1px black; width:50px"><img src="/img/logo/logo_DACS.svg" /></div>
  <div class="col-sm-2" style="border: solid 1px black; width:50px"><img src="/img/logo/logo_UT_EN.svg" /></div>
  <div class="scaling-svg-container" style="padding-bottom: 92% /* 100% * 55/60 */"> <svg class="scaling-svg" viewBox="0 0 60 55" > /img/logo/logo_UT_EN.svg </svg> </div>
</div>
</footer>


