<footer>
  <div class="container-fluid">
	<div class="row">
	  <div class="col-sm-12 col-lg-5" id="footer-support">

		<div id="footer-support-logos">
		  <img src="/img/logo/University-of-Twente-logo.jpg" />
		  <img src="/img/logo/ant_isiedu_image64-2.png" />
		  <img src="/img/logo/University-of-Twente-logo.jpg" />
		  <img src="/img/logo/ant_isiedu_image64-2.png" />
		</div>

	  </div>
	  <div class="col-sm-12 col-lg-2" id="footer-button">
	    <div class="center">
	
		</div>
	  </div>	  
	  <div class="col-sm-12 col-lg-5" id="footer-contact">

	  </div>
	</div>
  </div>
</footer>
