<footer>
<div class="row">
  <div class="col-md-1">.</div> 
  <div class="col-md-1"><img src="/img/logo/logo_antisiedu.png" height="100"/></div> 
  <div class="col-md-2"><img src="/img/logo/logo_USC.png" height="100"/></div> 
  <div class="col-md-1"><img src="/img/logo/logo_Homeland_Security.png" height="100" /></div> 
  <div class="col-md-2"><img src="/img/logo/logo_concordia.png" height="100"/></div>
  <div class="col-md-1"><img src="/img/logo/logo_nwo.png"  height="100" /></div> 
  <div class="col-md-1"><img src="/img/logo/logo.svg"  height="100" /></div> 
  <div class="col-md-1"><img src="/img/logo/logo_dacs.png" height="100"/></div>
  <div class="col-md-2"><img src="/img/logo/logo_UT_EN.jpg" height="100"/></div>
  <div class="col-md-1">.</div> 
</div>
</footer>


